<%= form_for @lecture, :html => { :class => "form-horizontal lecture" } do |f| %>

  <% if @lecture.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@lecture.errors.count, "error") %> prohibited this lecture from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @lecture.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <label class="control-label col-lg-2" for="lecture_name">講義名</label>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <input type="submit" name="commit" value="講義を作成" class="btn btn-primary">
      <a class="btn btn-default" href="/lectures"><span class="translation_missing" title="translation missing: ja.helpers.links.cancel">キャンセル</span></a>
    </div>
  </div>

<% end %>
