<%- model_class = Discussion -%>
<div class="page-header">
  <h1>ディスカッション</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>タイトル</th>
      <th>内容</th>
      <th>質問</th>
      <th>投稿者</th>
      <th>投稿日時</th>
      <th>編集 / 削除</th>
    </tr>
  </thead>
  <tbody>
    <% @discussions.each do |discussion| %>
      <tr>
        <td><%= link_to discussion.id, discussion_path(discussion) %></td>
        <td><%= discussion.name %></td>
        <td><%= discussion.description %></td>
        <td><%= discussion.issue_id %></td>
        <td><%= discussion.user_id %></td>
        <td><%= discussion.created_at %></td>
        <td>
           <a class="btn btn-default btn-xs" href="/discussions/2/edit"><span class="translation_missing" title="translation missing: ja.helpers.links.edit">編集</span></a>
           <a data-confirm="Are you sure?" class="btn btn-xs btn-danger" rel="nofollow" data-method="delete" href="/discussions/2"><span class="translation_missing" title="translation missing: ja.helpers.links.destroy">削除</span></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "ディスカッションを投稿",
            new_discussion_path,
            :class => 'btn btn-primary' %>
