<%- model_class = Issue -%>
<div class="page-header">
  <h1>質問一覧</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>タイトル</th>
      <th>講義ID</th>
      <th>作成日時</th>
      <th>編集 / 削除</th>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= link_to issue.id, lecture_issue_path(issue_id: issue.id) %></td>
        <td><%= issue.name %></td>
        <td><%= issue.lecture_id %></td>
        <td><%= issue.created_at %></td>
        <td>
          <a class="btn btn-default btn-xs" href="/lectures/2/issues/2/edit"><span class="translation_missing" title="translation missing: ja.helpers.links.edit">編集</span></a>
          <a data-confirm="Are you sure?" class="btn btn-xs btn-danger" rel="nofollow" data-method="delete" href="/lectures/2/issues/2"><span class="translation_missing" title="translation missing: ja.helpers.links.destroy">削除</span></a>
          <%= link_to 'Discussions', lecture_issue_discussions_path(issue_id: issue.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<a class="btn btn-primary" href="/lectures/2/issues/new"><span class="translation_missing" title="translation missing: ja.helpers.links.new">質問を投稿する</span></a>